anthropic
appdirs
datasets
editdistance
fire
google-api-core
google-generativeai
llmlingua
loguru
matplotlib
nltk
numpy
openai>=1.0.0
rich
torch
transformers==4.37.1
tqdm
tree-sitter-languages
tempdir
vllm
wget
